name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4

      - name: Analysis
        run: ./gradlew spotlessCheck app:lint

      - name: Assemble
        run: ./gradlew app:assembleGoogleDebug solver:assembleDebug

      - name: Test
        run: ./gradlew core:test app:testGoogleDebugUnitTest

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: |
            app/build/reports
            core/build/reports
